aside {
    margin-top: 20px;
}

a {
    color: var(--primary-color);
}

.aside {
    border: 1px solid var(--border-color);
    border-radius: 30px;
}

.aside__img-container {
    width: 250px;
    height: 275px;
    background-image: url("/src/img/shehanrathnayake-profile-picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.aside__btn-social-icons {
    border: 2px solid var(--border-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--border-color);
}

.aside__btn-social-icons:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn--primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    
}

.btn--primary:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn--secondory {
    border: 1px solid var(--border-color);
    color: var(--border-color);
    border-radius: 20px;

}

.btn--secondory:hover {
    background-color: var(--primary-color);
    color: black;
}

.btn > img {
    width: 25px;
}

.main__heading span {
    color: var(--primary-color);
}

.main__feature-count {
    color: var(--primary-color);
    font-size: 2.5rem;
}

h2 > span {
    color: var(--primary-color);
}

.main__skill--image-container {
    width: 80px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

#java-container {
    background-image: url("/src/img/tech-stacks/javaimage.jpg");
}

#javascript-container{
    background-image: url("/src/img/tech-stacks/JavaScript-logo.png");
}

#typecript-container {
    background-image: url("/src/img/tech-stacks/Typescript.png");
}

#node-container {
    background-image: url("/src/img/tech-stacks/nodejs.png");
}

#express-container {
    background-image: url("/src/img/tech-stacks/express-js.png");
}

#angular-container {
    background-image: url("/src/img/tech-stacks/Angular_full_color_logo.png");
}

#react-container {
    background-image: url("/src/img/tech-stacks/react-logo.png");
}

#jquery-container {
    background-image: url("/src/img/tech-stacks/jquery-logo.png");
}

#html-container {
    background-image: url("/src/img/tech-stacks/html.png");
}

#css-container {
    background-image: url("/src/img/tech-stacks/CSS3.png");
}

#scss-container {
    background-image: url("/src/img/tech-stacks/sass_logo.png");
}

#bootstrap-container {
    background-image: url("/src/img/tech-stacks/bootstrap-logo.png");
}

#tailwind-container {
    background-image: url("/src/img/tech-stacks/tailwindcss.jpg");
}

#jakarta-container {
    background-image: url("/src/img/tech-stacks/jakartaee.png");
}

#spring-container {
    background-image: url("/src/img/tech-stacks/spring-logo.png");
}

#springboot-container {
    background-image: url("/src/img/tech-stacks/springboot.png");
}

#hibernate-container {
    background-image: url("/src/img/tech-stacks/hibernate-logo.png");
}

#junit-container {
    background-image: url("/src/img/tech-stacks/junit.jpg");
}

#mysql-container {
    background-image: url("/src/img/tech-stacks/mysql.png");
}

#postgresql-container {
    background-image: url("/src/img/tech-stacks/postgresql.png");
}

#mongo-container {
    background-image: url("/src/img/tech-stacks/mongodb.jpg");
}

#firestore-container {
    background-image: url("/src/img/tech-stacks/firestore.jpg");
}

#maven-container {
    background-image: url("/src/img/tech-stacks/maven.png");
}

#npm-container {
    background-image: url("/src/img/tech-stacks/npm.png");
}

#git-container {
    background-image: url("/src/img/tech-stacks/git.png");
}

#parcel-container {
    background-image: url("/src/img/tech-stacks/parceljs.jpg");
}

#nodemon-container {
    background-image: url("/src/img/tech-stacks/nodemon.png");
}

#postman-container {
    background-image: url("/src/img/tech-stacks/postman.png");
}

footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}


.animated-caption-container {
    position: relative;
}



.animated-caption {
    animation-name: anim1; 
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.25, 0.5, 0.75, 1);
    height: 40px;
    overflow: hidden;
    background-color: var(--background-color);
    width: 100%;
    position: absolute;
    right: 0;
}

@keyframes anim1 {
    0% {
        width: 100%;
    }
    5% {
        width: 100%;
    }
    40% {
        width: 0%;
    }
    60% {
        width: 0%;
    }
    95% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

/* @media all and (prefers-color-scheme: dark) {
    .img-dark {
        display: none;
    }

    .img-light {
        display: block;
        /* border: 1px solid; */
        /*   }

     {
        background-color: #202124;
    }
} */