aside {
    margin-top: 20px;
}
.aside {
    border: 1px solid var(--border-color);
    border-radius: 30px;
}

.aside__img-container {
    width: 250px;
    height: 275px;
    background-image: url("/src/img/shehanrathnayake-profile-picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.aside__btn-social-icons {
    border: 2px solid var(--border-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--border-color);
}

.aside__btn-social-icons:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn--primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    
}

.btn--primary:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}




footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.animated-caption-container {
    position: relative;
}



.animated-caption {
    animation-name: anim1; 
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.25, 0.5, 0.75, 1);
    height: 40px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    position: absolute;
    right: 0;
}

@keyframes anim1 {
    0% {
        width: 100%;
    }
    5% {
        width: 100%;
    }
    40% {
        width: 0%;
    }
    60% {
        width: 0%;
    }
    95% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

/* @media all and (prefers-color-scheme: dark) {
    .img-dark {
        display: none;
    }

    .img-light {
        display: block;
        /* border: 1px solid; */
        /*   }

     {
        background-color: #202124;
    }
} */