* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    --primary-color: rgb(26, 224, 142);
    --secondary-color: rgb(85, 111, 68);
}

.show {
    display: block;
}

.hide {
    display: none;
}